{{ if ne .chezmoi.os "darwin" }}
.chezmoiscripts/darwin/**
.config/yabai
.config/skhd
{{- end }}

{{ if ne .chezmoi.os "linux" }}
.chezmoiscripts/linux/**
.config/sketchybar/helpers/event_providers/*/bin/**
{{- end }}
