# This is Git's per-user configuration file.
[core]
  excludesfile = "~/.gitignore"
{{- if (and (ne .name "") (ne .email "") (ne .signingkey "")) }}
[user]
  name = {{ .name | quote }}
  email = {{ .email | quote }}
  signingkey = {{ .signingkey | quote }}
{{- end }}
[commit]
  gpgsign = true
[pull]
  rebase = true
[gpg]
	program = gpg2
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[init]
	defaultBranch = main
