#!/bin/bash

brew bundle --no-vscode --cleanup --file=/dev/stdin <<EOF
{{ range .packages.darwin.taps -}}
tap '{{ . }}'
{{ end -}}
{{ range .packages.darwin.brews -}}
{{- if (kindIs "string" .) -}}
brew '{{.}}'
{{- else -}}
brew '{{.name}}'{{if .args}}, args: '{{.args}}'{{end}}
{{- end}}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask '{{ . }}'
{{ end -}}
EOF

{{ range .packages.darwin.mas -}}
mas install {{ . }} || true
{{ end -}}
